.footer {
    background: #000;
    color: #fff;
    padding: 2rem 0;
    min-height: 105px;
    &__container {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    &__branding {
        width: 70%;
        font-weight: 700;
    }
}
