html {
    font-family: "Poppins";
}

body {
    background: #f3f3f3;
}

.container {
    width: 90%;
    margin: auto;
}

.page-heading {
    font-size: 32px;
    color: #333;
}

.form-action {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    button {
        margin-bottom: 1rem;
    }
}

label {
    color: #333;
}

.form {
    &--property {
        margin-top: 1rem;
    }
}
